* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

html,
body,
#root {
  background: var(--bg-base);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
